{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h1>History</h1>
<div class="container">
    <form class="form-v2" action="/history" method="post">
        <select class="filter" name="filter">
            <option value="" disabled selected>Sort by</option>
            <option value="date">Date</option>
            <option value="category">Category</option>
            <option value="amount">Amount</option>
            <option value="payment">Payment</option>
        </select>
        <select class="filter" name="limit" style="width: 55px;">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="All">All</option>
        </select>
        <select class="filter" name="order">
            <option value="DESC">Descending</option>
            <option value="ASC">Ascending</option>
        </select>
        <select id="categories" class="filter" name="categories" style="display: block;">
            <option value="" disabled selected>Category</option>
            {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
            {% endfor %}
        </select>
        <input class="filter" type="date" name="date" autocomplete="off">
        <input class="filter" type="submit" value="Filter">
    </form>
</div>
<div class="container">
    <table>
        <tr>
            <th>Category</th>
            <th>Note</th>
            <th>Amount</th>
            <th>Payment</th>
            <th>Date (yyyy-mm-dd)</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.category }}</td>
            <td>{{ row.note }}</td>
            <td>{{ row.amount }}</td>
            <td>{{ row.payment_method }}</td>
            <td>{{ row.date }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<script>

</script>
{% endblock%}