{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h1>History</h1>
<div class="container">
    <form class="form-v2" action="/history" method="post">
        <select id="dropdown-filter" class="filter" name="filter">
            <option value="" disabled selected>Sort by</option>
            <option value="date">Date</option>
            <option value="category">Category</option>
            <option value="amount">Amount</option>
            <option value="payment">Payment</option>
        </select>
        <select class="filter" name="limit" style="width: 55px;">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="All">All</option>
        </select>
        <select class="filter" name="order">
            <option value="DESC">Descending</option>
            <option value="ASC">Ascending</option>
        </select>
        <select id="categories" class="filter" name="categories" style="display: block;">
            <option value="" disabled selected>Category</option>
            {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
            {% endfor %}
        </select>
        <input id="dropdown-date" class="filter" type="date" name="date" autocomplete="off" style="display: block;">
        <input class="filter" type="submit" value="Filter">
    </form>
</div>
<div class="container">
    <table>
        <tr>
            <th>Category</th>
            <th>Note</th>
            <th>Amount</th>
            <th>Payment</th>
            <th>Date (yyyy-mm-dd)</th>
        </tr>
        {% if rows %}
            {% for row in rows %}
            <tr>
                <td>{{ row.category }}</td>
                <td>{{ row.note }}</td>
                <td>{{ row.amount }}</td>
                <td>{{ row.payment_method }}</td>
                <td>{{ row.date }}</td>
                <td style="text-align: center;">
                    <form action="/delete/{{ row.transaction_id }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this expense?');">
                        <button type="submit" style="background: none; border: none;">
                            <i class="fa-solid fa-trash" style="text-decoration: none; color: black;"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5"><p style="font-style: italic;">No entries found</p></td>
            </tr>
        {% endif %}
    </table>
</div>
<script>
    // Get the filter and date dropdowns
    const filterDropdown = document.getElementById('dropdown-filter');
    const dateDropdown = document.getElementById('dropdown-date');

    // Add an event listener to detect when the filter dropdown changes
    filterDropdown.addEventListener('change', function() {
        // Hide the date dropdown if 'Date' is selected
        if (filterDropdown.value === 'date') {
            dateDropdown.style.display = 'none';
        } else {
            // Show the date dropdown if any other option is selected
            dateDropdown.style.display = 'block';
            dateDropdown.selectedIndex = 0;
        }
    });
</script>
{% endblock%}