{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <h1>Homepage</h1>
    <div class="container">
        <div class="section-table">
            <h2>Transactions</h2>
            <table>
                <tr>
                    <th>Category</th>
                    <th>Note</th>
                    <th>Amount</th>
                    <th>Payment</th>
                    <th>Date</th>
                </tr>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.category }}</td>
                        <td>{{ row.note }}</td>
                        <td>{{ row.amount }}</td>
                        <td>{{ row.payment_method }}</td>
                        <td>{{ row.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="section-expenses">
            <h2>Expenses</h2>
            <div class="expenses">
                <div class="expenses-box">
                    <p class="box-title">Total Expenses</p>
                    <p class="box-number">{{ total_expenses }}</p>
                </div>
                <div class="expenses-box">
                    <p class="box-title">Daily Expenses</p>
                    <p class="box-number">{{ daily_expenses }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}