{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <h1>Homepage</h1>
    <div class="container">
        <div class="section-table">
            <h2>Transactions</h2>
            <table>
                <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Payment</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>Leisure</td>
                    <td>18.00</td>
                    <td>Card</td>
                    <td>18/08</td>
                </tr>
                <tr>
                    <td>Leisure</td>
                    <td>10.00</td>
                    <td>Cash</td>
                    <td>16/08</td>
                </tr>
                <tr>
                    <td>Transportation</td>
                    <td>8.50</td>
                    <td>Card</td>
                    <td>10/08</td>
                </tr>
            </table>
        </div>
        <div class="section-expenses">
            <h2>Expenses</h2>
        </div>
    </div>
{% endblock %}