<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/styles.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

        <!-- Web Icon -->
        <link href="/static/favicon_io/favicon.ico" rel="icon">

        <!-- Icons on the html code -->
        <script src="https://kit.fontawesome.com/2a36fe9429.js" crossorigin="anonymous"></script>

        <title>Expense Tracker: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Log In Required Navigation -->
        <div class="div-nav-login">
            <nav>
                <ul>
                    <li><a href="/" style="text-decoration: none; color: black;"><i class="fa-solid fa-square-poll-vertical"></i></a></li>
                    {% if session.get('username') %}
                    <li><a href="/add">Add</a></li>
                    <li><a href="/history">History</a></li>
                    {% endif %}
                </ul>
                <ul>
                    {% if session.get('username') %}
                    <li><a href="/logout">Log Out</a></li>
                    {% else %}
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
        <!-- Display Flashed Messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    
        <!-- Main block -->
        <main>
            {% block main %}{% endblock %}
        </main>
        <!-- Footer -->
        {% if session.get('username') %}
            <footer>
                <p>You are logged in as {{ session['username'] }}</p>
            </footer>
        {% endif %}
    </body>
</html>