{% extends "layout.html" %}

{% block title %}
Summary
{% endblock %}

{% block main %}
<h1>Summary</h1>
<div class="summary-container-options">
    <form class="form-v2" action="/summary" method="post">
        <select id="dropdown-year" class="filter" name="year">
            <!-- {% for year in years %} -->
            <!-- <option value="{{ year }}">{{ year }}</option> -->
            <!-- {% endfor %} -->
            <option value="2024">2024</option>
        </select>
        <select id="dropdown-month" class="filter" name="month">
            <option value="01">January</option>
        </select>
    </form>
</div>
<div class="summary-container-graphs">

</div>
<div class="summary-container-expenses">

</div>
{% endblock %}