{% extends "layout.html" %}

{% block title %}
Summary
{% endblock %}

{% block main %}
<h1>Summary</h1>
<div class="summary-container-options">
    <form class="form-v2" action="/summary" method="post">
        <select id="dropdown-year" class="filter" name="year">
            <option value="" disabled selected>Select Year</option>
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <select id="dropdown-month" class="filter" name="month">
            <option value="" disabled selected>Select Month</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <input class="filter" type="submit" value="Show">
    </form>
</div>
<div class="summary-container-option">
    <select id="dropdown-chart" class="filter" name="chart">
        <option value="bar">Bar Chart</option>
        <option value="pie">Pie Chart</option>
    </select>
</div>
<div class="summary-container-graphs">
    <canvas id="pieChart" style="display: none; width: 100%; max-width: 1200px;"></canvas>
    <canvas id="barChart" style="display: block; width: 100%; max-width: 900px;"></canvas>
</div>
<div class="summary-container-expenses">

</div>

<script>
    const expenses = {{ expenses | tojson }};

    // Colors used for the pie chart 
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
        ];

    // Create arrays containing the categories and expenses of the user that month
    const categories = expenses.map(e => e[0]);
    const totals = expenses.map(e => e[1]);

    // Create the pie chart
    const ctxPie = document.getElementById('pieChart').getContext('2d');
    const pieChart = new Chart(ctxPie, {
        type: "pie",
        data: {
            labels: categories,
            datasets: [{
                data: totals,
                backgroundColor: barColors,
            }]
        },
        options: {
            title: {
                display: true,
                text: "Basic Pie Chart"
            },
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
            }
        }
    });

    // Create the bar chart
    const ctxBar = document.getElementById('barChart').getContext('2d');
    const barChart = new Chart(ctxBar, {
        type: "bar",
        data: {
            labels: categories,
            datasets: [{
                data: totals,
                backgroundColor: barColors,
                borderColor: ["#36a2eb"],
                borderWidth: 1
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Get the chart option dropdown menu
    const chartDropdown= document.getElementById('dropdown-chart');
    console.log(chartDropdown)

    // Add an event listener to detect when the chart dropdown filter changes
    chartDropdown.addEventListener('change', function() {
        // Show the Bar Chart and hide the Pie Chart if the bar option is selected (default)
        if (chartDropdown.value === "bar") {
            document.getElementById('barChart').style.display = "block"
            document.getElementById('pieChart').style.display = "none"
        }
        // Show the Pie Chart and hide the Bar Chart if the pie option is selected
        else if (chartDropdown.value === "pie") {
            document.getElementById('pieChart').style.display = "block"
            document.getElementById('barChart').style.display = "none"
        }
    });

</script>

{% endblock %}